Repository docmet/kartune: changes, and which lefthook commands are due for each by the changed paths.
All: backend-lint, backend-typecheck, frontend-lint

backend-lint:
  run: 'echo "ğŸ” Running ruff on backend..."
  
    docker compose exec -T backend ruff check . --fix
  
    docker compose exec -T backend ruff format .
  
    '

backend-typecheck:
  run: 'echo "ğŸ” Type checking backend..."
  
    docker compose exec -T backend mypy . --ignore-missing-imports || true
  
    '

frontend-lint:
  run: 'echo "ğŸ” Linting frontend..."
  
    docker compose exec -T frontend npm run lint -- --fix || true
  
    '

fix(ci): configure mypy and improve CI workflow
  .github/workflows/ci.yml
  backend/pyproject.toml
  cli.sh
  lefthook.yml
Due: none

chore: fix all linting errors and configure tooling
  .gitignore
  backend/alembic/env.py
  backend/alembic/versions/863a6cc703f1_initial_migration.py
  backend/app/api/auth.py
  backend/app/api/deps.py
  backend/app/api/drivers.py
  backend/app/api/equipment.py
  backend/app/api/sessions.py
  backend/app/api/teams.py
  backend/app/api/tracks.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/models/driver.py
  backend/app/models/equipment.py
  backend/app/models/session.py
  backend/app/models/team.py
  backend/app/models/track.py
  backend/app/models/user.py
  backend/app/schemas/driver.py
  backend/app/schemas/equipment.py
  backend/app/schemas/session.py
  backend/app/schemas/team.py
  backend/app/schemas/track.py
  backend/app/schemas/user.py
  backend/app/services/telemetry_analyzer.py
  backend/pyproject.toml
  backend/seed_data.py
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_drivers.py
  backend/tests/test_sessions.py
  lefthook.yml
Due: backend-lint, backend-typecheck

docs: update DEVELOPMENT.md about lefthook hooks
  DEVELOPMENT.md
Due: none

fix: resolve mypy type errors and remove deprecation warnings
  backend/app/api/auth.py
  backend/app/api/deps.py
  backend/app/api/sessions.py
  backend/app/core/config.py
  docker-compose.yml
Due: backend-lint, backend-typecheck

fix: stage formatting changes and fix lefthook ordering
  backend/app/core/config.py
  lefthook.yml
Due: backend-lint, backend-typecheck

fix(tests): use configurable upload directory for tests
  backend/app/api/sessions.py
  backend/test.db
  backend/tests/conftest.py
Due: backend-lint, backend-typecheck

chore: stage auto-formatted files from lefthook
  backend/test.db
Due: none

fix: remove test.db from git tracking and add to gitignore
  .gitignore
  backend/test.db
Due: none

docs: add comprehensive README.md
  README.md
Due: none

fix: resolve mypy type errors in laps API
  backend/app/api/laps.py
Due: backend-lint, backend-typecheck

chore: add eslint config to fix CI hang
  backend/app/api/laps.py
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/dashboard/laps/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/TelemetryUploader.tsx
  nginx/nginx.conf
Due: backend-lint, backend-typecheck, frontend-lint

feat(frontend): refactor dashboard layout and fix lint errors
  frontend/src/app/dashboard/laps/page.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/login/page.tsx
Due: frontend-lint

feat: Driver Management UI & Session Editing
  backend/alembic/env.py
  backend/alembic/versions/d13957478150_add_driver_metrics.py
  backend/app/api/laps.py
  backend/app/api/sessions.py
  backend/app/models/driver.py
  backend/app/schemas/driver.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/dashboard/drivers/page.tsx
  frontend/src/app/dashboard/sessions/page.tsx
  frontend/src/app/sessions/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/types/index.ts
Due: backend-lint, backend-typecheck, frontend-lint

feat: Driver Management UI & Session Editing
  backend/app/api/laps.py
Due: backend-lint, backend-typecheck

feat: Refine Driver UI (Structured Bio Metrics & List columns) + Seed Data update
  backend/seed_data.py
  frontend/src/app/dashboard/drivers/page.tsx
Due: frontend-lint

feat: Finalize Telemetry Analysis (Tooltip Fixes, Navigation, Deep Linking)
  backend/app/api/laps.py
  backend/app/schemas/session.py
  backend/app/schemas/telemetry.py
  backend/seed_data.py
  frontend/src/app/dashboard/analysis/page.tsx
  frontend/src/app/dashboard/sessions/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/telemetry/LapConsistency.tsx
  frontend/src/components/telemetry/TelemetryCharts.tsx
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
Due: backend-lint, backend-typecheck, frontend-lint

feat: Resource Management (Tracks/Karts) and Precision Refinement
  frontend/src/app/dashboard/karts/page.tsx
  frontend/src/app/dashboard/tracks/page.tsx
  frontend/src/components/telemetry/TelemetryCharts.tsx
  frontend/src/lib/api.ts
Due: frontend-lint

fix: Resolve CI Lint Failures (B904, E402) and Strict Lefthook
  backend/app/api/laps.py
  backend/app/schemas/session.py
  lefthook.yml
Due: backend-lint, backend-typecheck

fix: Resolve MyPy errors and enforce strict Lefthook checks
  backend/app/api/laps.py
  lefthook.yml
Due: backend-lint, backend-typecheck

Path conditions:
  backend-lint: any of: backend/**/*.py
  backend-typecheck: any of: backend/**/*.py
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx}
